body {
  height: 100vh;
  background-color: #88b04b;

  font-family: "Roboto", sans-serif;
}
.hide {
  display: none;
}
h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
}
h2 {
  font-family: "Bebas Neue", cursive;
  text-align: center;
}
#scoreboard {
  font-family: "Bebas Neue", cursive;
}
